/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

input {
  font-size: 12px !important;
  height: 25px !important;
  border: 1px solid #c3c3c3 !important;
  border-radius: .267rem !important;
}